@{
    ViewBag.Title = "Home Page";
}
	<style>
		#graph-container {
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
			background-color: #455660;
		}

		.sigma-edge {
			stroke: #14191C;
		}

		.sigma-node {
			fill: green;
			stroke: #14191C;
			stroke-width: 2px;
		}

			.sigma-node:hover {
				fill: blue;
			}

		.muted {
			fill-opacity: 0.1;
			stroke-opacity: 0.1;
		}
	</style>
<div class="jumbotron">
    <h1>資料視覺圖</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
		<p>
			view : views/ci_family/Index.cshtml
			controller : controllers/ci_familyController
			JS:Scripts/d3/function.js
		</p>
        @Html.ActionLink("點擊查看Ci_family範例", "Index", "ci_family");
        <!--第二個參數是動作，第三個是控制器名稱-->
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>